<p>todo.component works!</p>
@if (loading){
    <p> loading</p>
} 
@if (error != null){
    <p> {{error}}</p>
} @else {
    <div class="todoContainer">
        @for (todo of todos; track todo.id) {
            <div class="todoCard">
                <p> {{todo.title}}</p>
                <p> {{todo.description}} </p>
                <div class="buttonsContainer">
                    <button class = "editButton">
                        Edit
                    </button>
                    <button class = "deleteButton">
                        Delete
                    </button>
                </div>

            </div>
        }
    </div>

}
