.todoCard{
    display: flex;
    flex-direction: column;
    border: 0;
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 1px 3px;
    gap: .5rem;
}

.todoContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

button{
    outline: inherit;
    border-radius: 10px;
    border: 0;
    padding: .5rem; 
    cursor: pointer;
    color: white;
}

.buttonsContainer{
    display: flex;
    justify-content: space-between;
}

.editButton{
    background-color: rgb(59, 59, 168);
}

.submitButton{
    background-color: rgb(59, 59, 168);
    &:disabled{
        background-color: rgb(69, 69, 113);
    }
}

.deleteButton{
    background-color: rgb(205, 67, 67);
}

