<p>todo.component works!</p>
@if (loading){
    <p> loading</p>
} 
@if (error != null){
    <p> {{error}}</p>
} @else {
    <h1>Todo app with Angular & Spring</h1>

    <div class="todoContainer">
        
        <form [formGroup]="todoForm" (ngSubmit)="onSubmit()" class="todoCard">
            <h2>New todo</h2>

            <label for="title">Title</label>
            <input id="title" type="text" formControlName="title">
            <label for="description">Description</label>
            <input id="description" type="text" formControlName="description">
            <button type="submit" [disabled]="!todoForm.valid" class="submitButton">Add todo</button>
        </form>

        @for (todo of todos; track todo.id) {
            <div class="todoCard">
                <div class="cardContent">
                    <p> {{todo.title}}</p>
                    <p> {{todo.description}} </p>
                </div>
                <div class="buttonsContainer">
                    <button class = "editButton">
                        Edit
                    </button>
                    <button class = "deleteButton" (click)="deleteTodo(todo.id)">
                        Delete
                    </button>
                </div>

            </div>
        }
    </div>

}
